<template name="heading">
    <div class="row">
        <div class="col-md-12 bg-primary padded">
            {{#if titleFirst}}
                <b>{{title}}</b>
                {{> UI.contentBlock}}
            {{else}}
                {{> UI.contentBlock}}
                <b>{{title}}</b>
            {{/if}}
        </div>
    </div>
</template>
