<template name="navigation">


    <!--<div id="menu">-->
        <!--<div class="pure-menu">-->
            <!--<a class="pure-menu-heading" href="#">Company</a>-->

            <!--<ul class="pure-menu-list">-->
                <!--<li class="pure-menu-item"><a href="#" class="pure-menu-link">Home</a></li>-->
                <!--<li class="pure-menu-item"><a href="#" class="pure-menu-link">About</a></li>-->
                <!--<li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact</a></li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->


</template>