<template name="popularTopics">
    {{#if isDone}}
        {{#each defaultTopics}}
            <li>Topic: {{this}}</li>
        {{/each}}
        <li>-----</li>
        {{#each topics}}
            <li>Topic: {{_id}}, Users: {{total}}</li>
        {{/each}}
    {{else}}
        {{> loading}}
    {{/if}}
</template>