.chatbox
{
  border: 1px;
  overflow-y: scroll;
  //height: 70vh;
}

.padded
{
  padding: 10px;
}
.left-padded
{
  padding-left: 20px;
}

.fix-margin
{
  margin-left: 0px !important;
}

.margined
{
  margin: 10px;
}

.text-wrapped
{
  white-space: nowrap;
  max-width: 60vw;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-white
{
  color: powderblue;
}

@media (min-width:767px) {
  .text-wrapped
  {
    white-space: nowrap;
    max-width: 38vw;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.absolute-pos
{
  position: absolute !important;
  top: 0;
  bottom: 0;
}
.full-width
{
  //width: 100%;
  left: 0;
  right: 0;
}

.centre-text
{
  text-align: center;
}