<template name="chat">
    <!--<div class="row">-->
    <!--<div class="col-md-12 clearfix bg-primary">-->
    <!--<b>GROUP {{currentGroup.name}} DISCUSSING {{currentGroup.topic}} </b>-->
    <!--<a class="btn btn-primary" href="{{pathFor route='members'}}">View group members</a>-->
    <!--&lt;!&ndash;<input type="text" value="{{pathFor route='joinGroup'}}/{{currentGroup.name}}">               TODO: GET JOIN LINK&ndash;&gt;-->
    <!--<button id="delete-group-button" class="btn btn-danger pull-right">LEAVE GROUP</button>-->
    <!--</div>-->
    <!--</div>-->


    <div class="absolute-pos full-width">



        <div style="position: absolute; top: 69px; bottom: 34px; width: 100%" class="col-md-12 chatbox" id="chat-contents">
            {{#each groupChatContents}}
                {{> chatInstance}}
            {{/each}}
        </div>


        <div style="position: absolute; bottom: 0;">
            {{#if isListener}}
                <form id="chat-input">
                    <div class="input-group">
                        <a class="btn btn-info input-group-addon"></a>
                        <input class="col-md-12 form-control" autocomplete="off" id="chat-input-text" type="text" name="chat" disabled
                               placeholder="CHAT DISABLED - YOU ARE A LISTENER. JOIN ANOTHER GROUP TO TALK">
                    </div>
                </form>
            {{else}}
                <form id="chat-input" >
                    <div class="input-group">
                        <a id="chat-input-prefix" data-reply="" class="btn btn-info input-group-addon"></a>
                        <input class="col-md-12 form-control" autocomplete="off" id="chat-input-text" type="text" name="chat"
                               placeholder="enter chat stuff here">
                        <a id="chat-input-submit" class="btn btn-success input-group-addon" >Send</a>
                    </div>
                </form>

            {{/if}}
        </div>

        <nav class="navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="glyphicon glyphicon-option-vertical"></span>

                    </button>
                    <h4 class="text-wrapped"><b>{{#if isListener}}LISTENING {{else}}
                        DISCUSSING {{/if}}{{currentGroup.topic}}</b></h4>
                    <span><p>{{currentGroup.name}}</p></span>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="bg-success centre-text" href="{{pathFor route='pollCreation'}}">Create<br/>poll</a></li>
                        <li><a class="bg-success centre-text" href="{{pathFor route='members'}}">View<br/>members</a></li>
                        <li><a id="delete-group-button" class="bg-danger centre-text" href="javascript:void(0)">LEAVE<br/>GROUP</a></li>

                        <!--<input type="text" value="{{pathFor route='joinGroup'}}/{{currentGroup.name}}">               TODO: GET JOIN LINK-->
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>
</template>

<template name="chatInstance">
    <div id="-{{_id}}"
         class="row list-group-item {{#if itIs 'me'}}list-group-item-success{{else}}list-group-item-info{{/if}} {{#if itIs 'muted'}}hidden{{/if}}">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 clearfix">
                    <b>
                        {{#if itIs 'me'}}
                            ME
                        {{else}}{{#if itIsNot 'admin' 'poll'}}
                            {{from}}
                        {{/if}}
                        {{/if}}

                    </b>
                    {{#if itIsNot 'poll' 'admin'}}
                        <br/><a name="{{_id}}" class="label label-success reply-link" href="#"><span
                            class="glyphicon glyphicon-share-alt"></span> REPLY</a>
                    {{/if}}
                    {{#if itIsNot 'me' 'admin' 'poll'}}
                        <a data-id="{{from}}" class="label label-info whisper-link" href="#"><span
                                class="glyphicon glyphicon-comment"></span> WHISPER</a>
                        <a class="label label-danger mute-link pull-right" href="#"><span
                                class="glyphicon glyphicon-volume-off"></span> MUTE</a>
                    {{/if}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{#if itIs 'admin'}}
                        {{#if itIs 'poll'}}
                            <span>ADMIN POLL: {{title}} </span><a class="label label-warning"
                                                                  href="{{pathFor route='pollView'}}">GO TO POLL</a>
                        {{else}}
                            <div class="center-block"><b>{{text}}</b></div>
                        {{/if}}
                    {{else}}
                        {{#if itIs 'poll'}}
                            <span>Poll started: {{title}} </span><a class="label label-primary"
                                                                    href="{{pathFor route='pollView'}}">GO TO POLL</a>
                        {{else}}
                            <span>{{text}}</span>
                        {{/if}}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</template>