<template name="group">
    <!--<li role="presentation">-->
        <!--<a class="group-button" href="javascript:;">-->
            <!--{{#if maxSize}}Join{{else}}Listen{{/if}} group {{_id}} on {{topic}}-->
        <!--</a>-->
    <!--</li>-->
    <li role="presentation" class="clearfix">
        <a class="group-button {{#if isHighlighted}}bg-success{{/if}}" href="javascript:;">
            <span>{{#if maxSize}}Join {{else}}Listen {{/if}}{{topic}}</span>
            <span class="glyphicon glyphicon-th sub_icon pull-right"></span>
        </a>
    </li>

</template>