<template name="groupMembers">

    {{#heading title='VIEW GROUP MEMBERS' titleFirst=true}}
        <a class="text-white" href="{{pathFor route='chat'}}"> Back to chat </a>
    {{/heading}}
    <ul class="list-group">
        {{#each members}}
            {{> groupMembersInstance}}
        {{/each}}
    </ul>
</template>

<template name="groupMembersInstance">


        <div class="list-group-item row clearfix">
            <div class="col-xs-12">
                {{toUserId}}
                <div class="pull-right">
                    {{#if notSelf}}

                        <a class="btn btn-default whisper-link" href="{{pathFor route='whisper'}}"><span class="glyphicon glyphicon-comment"></span> Whisper </a>
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-primary {{#if isMuted}}active{{/if}}">
                                <input id="mute-checkbox" name="muted" type="checkbox" checked="{{isMuted}}" autocomplete="off">
                                {{#if isMuted}}MUTED{{else}}NOT MUTED{{/if}}
                            </label>
                        </div>

                    {{else}}
                        <span> (Me)</span>
                    {{/if}}
                </div>
            </div>

        </div>

</template>