<template name="joinGroup">
    {{>heading title='JOIN A GROUP' titleFirst=true}}
    <div class="row">
        <div class="col-md-12">
            <form id="join-group-form">

                <div class="form-group">
                    <label>Interest Topic</label>
                    <div class="input-group">

                        <input id="topic-input" type="text" autocomplete="off" name="text" class="form-control" aria-label="..." placeholder="Enter an topic to discuss, or see the list on right">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Topics List <span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                {{#if isDone}}
                                    {{#each defaultTopics}}
                                        <li class="topic-link">
                                            <a data-topic="{{this}}" href="#">{{this}}</a>
                                        </li>
                                    {{/each}}
                                    <li role="separator" class="divider"></li>
                                    <li class="topic-link">
                                        <a data-topic="Random Topic" href="#">Random Topic</a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    {{#each topics}}
                                        <li class="topic-link">
                                            <a data-topic="{{_id}}" href="#">{{_id}} - Current Users: {{total}}</a>
                                        </li>
                                    {{/each}}

                                {{else}}
                                    <li>Loading</li>
                                {{/if}}
                            </ul>
                        </div><!-- /btn-group -->
                    </div>
                </div>


                    <!--<ul class="dropdown-menu">-->
                        <!--{{#if isDone}}-->
                            <!--{{#each defaultTopics}}-->
                                <!--<li><a>Topic: {{this}}</a></li>-->
                            <!--{{/each}}-->
                            <!--<li role="separator" class="divider"></li>-->
                            <!--{{#each topics}}-->
                                <!--<li><a>Topic: {{_id}}, Users: {{total}}</a></li>-->
                            <!--{{/each}}-->
                        <!--{{else}}-->
                            <!--{{> loading}}-->
                        <!--{{/if}}-->
                    <!--</ul>-->

                <div class="form-group">
                    <label>Preferred Group Size</label>
                    <select name="groupSize" class="form-control">
                        {{#each groupSizes}}
                            <option value="{{this}}">{{this}} People</option>
                        {{/each}}
                    </select>
                </div>



                <div class="checkbox">
                    <label>
                        <input type='checkbox' name="isListener"> Join as a listener
                    </label>
                </div>
                <button id="join-group-button" class="btn btn-primary btn-block" data-loading-text="Joining Group, Please Wait" type="submit">Join random group</button>
            </form>
        </div>
    </div>
</template>