<template name="main">
    <div id="wrapper" class="col-md-12 absolute-pos">
        <div id="sidebar-wrapper">
            <!--{{> loginButtons}}-->
            <!--{{> notifications}}-->

            <!--<nav class="nav nav-pills nav-stacked">-->
            <!--<li role="presentation"><a href="{{pathFor route='joinGroup'}}">Join New Group +</a></li>-->
            <!--<li role="presentation"><a href="{{pathFor route='manageWhispers'}}"> Whispers </a></li>-->
                <!--{{#if isReady}}-->
                <!--{{#each groups}}-->
                <!--{{>group}}-->
                    <!--{{/each}}-->
                <!--{{/if}}-->
            <!--</nav>-->

            <!-- Sidebar -->
            <!-- Sidebar -->
            <ul id="sidebar_menu" class="sidebar-nav">
                <li class="sidebar-brand">
                    <a id="menu-toggle" href="#">
                        Menu
                        <span id="main_icon" class="glyphicon glyphicon-align-justify"></span>
                    </a>
                </li>
            </ul>
            <ul class="sidebar-nav" id="sidebar">
                <!--<li role="presentation" class="clearfix">-->
                    <!--{{> loginButtons}}-->
                <!--</li>-->
                <li role="presentation" class="clearfix">
                    <a href="{{pathFor route='joinGroup'}}">
                        <span>New Group</span>
                        <span class="glyphicon glyphicon-plus pull-right sub_icon"></span>
                    </a>
                </li>
                <li role="presentation" class="clearfix">
                    <a id="whispers-link" class="{{#if newWhispers}} bg-primary {{/if}}" href="{{pathFor route='manageWhispers'}}">
                        <span>Whispers</span>
                        <span class="glyphicon glyphicon-comment pull-right sub_icon"></span>
                    </a>
                </li>
                {{#if isReady}}
                    {{#each groups}}
                        {{>group}}
                    {{/each}}
                {{/if}}
            </ul>
        </div>
        <div id="page-content-wrapper" class="absolute-pos" style="">
            <div class="page-content inset absolute-pos full-width">
                <div class="row fix-margin absolute-pos full-width">
                    <div  class="col-md-12 absolute-pos full-width">
                        {{#if isReady}}
                            {{> yield}}
                        {{else}}
                            {{> loading}}
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>