<template name="manageWhispers">
    {{#heading title='VIEWING WHISPERS' titleFirst=true}}
        <a class="text-white" href="{{pathFor route='chat'}}"> Back to chat </a>
    {{/heading}}
    <div class="row">
        <div class="">
            <ul class="list-group">
                {{#each whispers}}
                    {{#unless isMuted}}
                        <li class="list-group-item clearfix">
                            {{toUserId}}
                            <a class="whisper-link label label-info" data-id="{{toUserId}}" href="{{pathFor route='whisper'}}">
                                <span class="glyphicon glyphicon-comment"></span> WHISPER
                            </a>
                            <a class="label label-danger pull-right mute-link" data-id="{{toUserId}}">
                                <span class="glyphicon glyphicon-volume-off"></span> MUTE
                            </a>
                            {{#if isHighlighted}}
                                <span class="label label-success">
                                    NEW MESSAGES
                                </span>
                            {{/if}}
                        </li>
                    {{/unless}}
                {{/each}}
            </ul>
        </div>
    </div>

</template>