<template name="notifications">
    <select size="3">
        {{#each notifications}}
        <option class="notification-item" value="{{this.type}},{{this.target}}">New {{this.type}} at {{this.target}}</option>
        {{/each}}
    </select>
</template>