<template name="pollCreation">
    {{#heading title='CREATING POLL' titleFirst=true}}
        <a class="text-white" href="{{pathFor route='chat'}}"> Back to chat </a>
    {{/heading}}
    <div class="row">
        <div class="col-md-12">
            <form id="create-poll-form">
                <div class="form-group">
                    <label>Poll Question</label>
                    <input class="form-control" name="title" type="text" placeholder="Enter poll title">
                </div>

                <div class="form-group">
                    <label>Choices (Comma separated)</label>
                    <input class="form-control" autocomplete="off" name="choices" type="text" placeholder="Enter choices, separated by comma">
                </div>

                <button class="btn btn-default" type="submit">Create</button>
            </form>
        </div>
    </div>

    <form id="create-poll-form">
    </form>
</template>
