<template name="pollView">
    {{#heading title='VOTING ON POLL: ' titleFirst=true}}
        <b>{{title}}</b>
    {{/heading}}

    {{#if hasVoted}}
        <ul class="list-group">
            {{#each sums}}
                <li class="list-group-item">{{this.[0]}}: {{this.[1]}} / {{../totalVotes}}</li>
            {{/each}}
        </ul>
    {{else}}
        <form id="voting-form">
        <ul class="list-group">
        {{#each choices}}
            <li class="list-group-item"> <input name="choice" type="radio" value="{{this}}"> {{this}} </li>
        {{/each}}
        </ul>
            <button class="btn btn-primary btn-block" type="submit">Vote!</button>
        </form>
        <button id="forfeit-button" class="btn btn-warning btn-block" type="button">Forfeit vote!</button>
    {{/if}}
    <button id="back-button" class="btn btn-default btn-block" type="button">Back to chat</button>

</template>