<template name="test">
    <div style="height: 100px; background: #000; position: absolute; top: 0; left: 0;right: 0;">

    </div>

    <div style="height: 50px; position: absolute; bottom: 0; background: #ff0000; left: 0; right: 0;">

    </div>
</template>