<template name="whisper">
    {{#heading title='WHISPERING ' titleFirst=true}}
        <br/><b style="color: #cef">{{toUser}}</b>
    {{/heading}}

    <div class="absolute-pos full-width">

        <div style="position: absolute; top: 60px; bottom: 34px; width: 100%" class="col-md-12 chatbox">
            {{#each whisperContents}}
                {{> whisperInstance}}
            {{/each}}
        </div>

        <div style="position: absolute; bottom: 0;">
            <form id="chat-input">
                <div class="input-group">
                    <a id="chat-input-prefix" data-reply="" class="btn btn-info input-group-addon"></a>
                    <input class="col-md-12 form-control" id="chat-input-text" autocomplete="off" type="text" name="chat" placeholder="enter chat stuff here">
                    <a id="chat-input-submit" class="btn btn-success input-group-addon" >Send</a>
                </div>
            </form>
        </div>
    </div>


</template>

<template name="whisperInstance">
    <div id="-{{_id}}" class="row list-group-item {{#if isMe}}list-group-item-success{{else}}list-group-item-info{{/if}}">
        <div class="col-md-12">

            <div class="row">
                <div class="col-md-12">
                    <b>
                        {{#if isMe}}
                            ME
                        {{else}}
                            {{from}}
                        {{/if}}
                    </b>
                    <a name="{{_id}}" class="label label-success reply-link" href="#"><span class="glyphicon glyphicon-share-alt"></span> REPLY</a>
                    {{#unless isMe}}
                    <a class="label label-danger mute-link pull-right" href="#"><span class="glyphicon glyphicon-volume-off"></span> MUTE</a>
                    {{/unless}}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <span>{{text}}</span>
                </div>
            </div>
        </div>
    </div>
</template>

